@model RentalX.Models.Car
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<ul>
    <li>Model: @Model.CarModel</li>
    <li>CostPer Day: @Model.CostPerDay</li>
</ul>